@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
    background-color: #15191C;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: '\e904';
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: '\e906';
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #15191C;
    width: 75vw; /*vw means Viewport Width*/
    height: 100vh; /*vh means Viewport Height*/

    position: absolute;
    left: -100vw;
    transition: .35s;
    z-index: 99;
}

.menu-lateral--ativo {
    transition: .35s;
    left: 0vw;
    z-index: 99;
}

.menu-lateral__logo {
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}



.menu-lateral__link:active {
    padding-left: 56px; /*Como o padding do .menu-lateral__link é 64px, ao adicionar a borda de 8px ele vai empurar tudo que não for position absolute pra frente, entao vamos dar o desconto no padding do mesmo tamanho da borda que vamos inserir aqui*/
    color: #ffffff;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}



.principal {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.titulo-pagina {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    left: 16px;
}

.cartao {
    position: relative;
    top: 4em;
    margin: 0 16px 0;
    width: 94vw;
    background-color: #2C343A;
    border-radius: 16px;
    
}

.cartao__imagem {
    width: 94vw;
    height: 328px;
}

.cartao__texto {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 25px;
    gap: 25px;
}

.cartao__destaque {
    font-weight: 400;
    font-size: 16px;
}

.cartao__titulo {
    font-weight: 700;
    font-size: 18px;
}

.cartao__perfil {
    font-size: 14px;
    color: #95999C;
}


.cartao__tempo-visualizacao {
    display: flex;
    color: #95999C;
    gap: 42px;
    
}

.cartao__info--tempo {
    display: flex;
    justify-self: flex-end;
    padding-left: 26px;
    align-items: center;
}

.cartao__info--tempo::before {
    content: "\e90c";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    left: 26px;
}

.cartao__info--visualizacao {
    display: flex;
    justify-self: flex-start;
    padding-left: 26px;
    align-items: center;
}

.cartao__info--visualizacao::before {
    content: "\e90f";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    left: 180px;
}


.cartao__botao--destaque {
    padding-right: 16px;
    margin-bottom: 16px;
    background-color: #0480DC;
    border-radius: 8px;
    width: calc(96vw - 56px);
    height: 40px;
}

   
